input {
  width: 95%;
  height: 45px;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  outline: none;
  box-sizing: border-box;
  margin: 10px auto;
  direction: ltr !important;
}
label {
  font-size: 18px;
  font-weight: 600;
}
.signIn {
  padding: 30px;
}
