.Button {
  background-color: transparent;
  border: 1px solid transparent;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 7px 10px;
  margin: 10px;
  border-radius: 5px;
  font-weight: bold;
}
.Danger {
  background-color: rgb(200, 1, 1);
}
.Success {
  background-color: rgb(0, 100, 0);
}
.primary {
  background-color: blue;
}
